nav
{
    /* background-color:lightpink; */
    height: 50px;
    position:fixed;
   
    top: 0;
    right: 0;
    background-color: black;
    width: 100%;
    height: 60px;
    padding: 4px;


}
/* nav ul{
 
    padding: 0;
    margin: 0;
} */

nav ul li a
{
   float:right;
   padding: 10px;
   list-style-type: none;
   text-align: center;
   color:white;
   font-size: large;
   text-decoration: none;
   

}
nav ul li a:hover
{
    background-color:darkgoldenrod;
}
@media (max-width: 768px) {
    #profile-picture {
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
}

body
{
    background-image: url(/images/starsBG.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    font-family:Verdana;
}
:root
{
    --bg-color:black;
}
body
{
    background-color: var(--bg-color);
}

.rounded-button
{
    height: 60px;
    width: 140px;
    border-radius: 70px;
    /* font-weight: bold; */
    font-size: medium;
    text-decoration: none;
}  

.rounded-button:hover
{
    background-color: yellow;
}
/* #moveable-image
{
    /* transform: rotate(45deg); */
    /* transition: transform 0.3 ease; */
    /* transform: translate(50px,50px); */
     /* transition: background-color 0.3s ease; 
}*/
.progress-bar
{
    width:100%;
    background-color:black;
    border-radius: 9px;
    padding: 5px;
}
.progress
{
    width:0px;
    height: 18px;
    background-color:yellow;
    border-radius: 9px;

}
.skills
{
    padding:5px;
}
#home-section{
   
    display: flex;
    margin: 15%;
   justify-content: center;
  
   
   
}
#home-section-flex1
{
   
    flex:auto;
    padding-top: 30px;

}
#home-section-flex2
{
   flex:auto;
   
    padding:0% 20% 5% 20% ;
    
  
    
    
    
}

#about-section-flex
{
    display: flex;
    color:white;
    justify-content: center;
    margin-top:2%;
}

#about-section-flex1
{
flex:5;
color: grey;


}

#resume-section
{
    color:grey;
    justify-content: center;
}
#resume-section-flex
{
    display:flex;
    color:white;
    justify-content: center;
    margin-top: 2%;;
}

#resume-section-flex1
{
    flex:10;
    padding:3%;
   
    color: white;
    background-color: darkgoldenrod;
    border-radius: 2%;
    
}

#resume-section-flex2
{
    flex:10;
    padding:3%;
    margin-left: 3%;
    color: white;
    background-color: darkolivegreen;
    border-radius: 2%;
    
    
}
#resume-section-flex3
{
    flex:5;
    padding:5%;
    margin-left: 12%;
    margin-right: 12%;
    color: white;
    background-color: darkcyan;
    border-radius: 2%;
    
    
}
#resume-section-flex1:hover
{
    background-color: darkslategray;
}
#resume-section-flex2:hover
{
    background-color: darkslateblue;
}
#resume-section-flex3:hover
{
    background-color: mediumpurple;
}
#contact-section
{
   
    
    color: grey;
    justify-content: center;
    
}
#contact-section-flex
{
display:flex;
padding: 4%;
padding-left: 15%;
}
#contact-section-flex1
{
flex:10;
color: white;
background-color: darkslategrey;

border-radius: 3%;
padding:3%;



}
#contact-section-flex2
{
flex:10;
color: white;
background-color: darkolivegreen;

border-radius: 3%;
padding:3%;
margin-left:3%;


}
#contact-section-flex1:hover{
    background-color:darkgoldenrod;
}
#contact-section-flex2:hover
{
    background-color: darkcyan;
}


/* #fun-section
{
    display: flex;
    display:flex;
    padding-top:10%;
    justify-content: center;
    margin:10px;
} */
.intro1
{
    color: grey;
    font-size: 23px;
    font-weight: bold;
    padding:2%;
}
.intro2
{
    font-size: 25px;
    
}
.aboutme
{
    color:white; 
    font-size: 18px; 
    font-weight: bold;
    line-height: 30px;
}
.section-heading{
    color:white;
    font-size: 50px; 
     font-weight: bold;
     padding-left: 35%;
     display: block;
     width: 100%;
}
#linkstyle
{
    color: yellow;
    font-size: 15px;
    font-weight:15px;
    padding:2%;
}

/* .icon-container{
display: inline-block;
padding: 50%;
}
.icon-with-shadow
{
   
    border-radius: 50%;
    box-shadow: 0 10px 16px rgba(5 0 0 0.5);
    background-color: azure;
} */
.horizontal-list
{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin-top: 0%;
    
    
}
.horizontal-list li
{
    margin-right: 6%;
    font-size: 50px;
    padding: 3%;
    border-radius: 25%;
}
.horizontal-list :hover
{
    background-color: darkgoldenrod;
}


 

